@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #3b82f6;
  --alt-color: #f5ddba;
  --va: #c0e8f8;
}

@layer components {
  .nav-link {
    @apply block w-[120px] md:w-full me-1 md:me-0 py-2 px-2 bg-white md:bg-transparent border md:border-none rounded duration-200 hover:ps-2 hover:text-white text-[10px] md:text-[16px];
  }
  .select-option {
    @apply text-slate-800 bg-transparent pe-3 font-bold border-none outline-none text-[10px] md:text-[15px]
  }
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
body {
  font-family: "Cairo", sans-serif;
}

nav .active {
  background-color: var(--main-color);
  color: white;
}
aside nav li a:hover {
  background-color: var(--main-color);
}
.contain {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .contain {
    width: 760px;
  }
}
@media (min-width: 992px) {
  .contain {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .contain {
    width: 1250px;
  }
}
::-webkit-scrollbar{
  width: 10px;
  height: 4px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1
}
::-webkit-scrollbar-thumb{
  background: #c2c0c0;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: #bdbdbd;
}

